*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(homepage_back.png);
    background-size: cover;
  }
  
